*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font);
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.title-section {
  font-size: 2.5rem;
  color: #000;
  margin: 1.5rem 0;
  font-weight: 300;

  &::after {
    content: '';
    display: block;
    width: 100px;
    height: 4px;
    background: var(--color-hover-menu);
    margin-top: 10px;
  }
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;

  &::before {
    content: '';
    display: block;
    padding-top: 75%;
  }

  & iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
}
