.product {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  margin-top: 60px;

  @include breakpoint-down(small) {
    grid-template-rows: repeat(5, 1fr);
  }

  &__title {
    font-family: var(--font-destacada);
    font-weight: 700;
    font-size: 3rem;
    color: var(--color-dark-blue);
    margin-bottom: 10px;
  }

  &__paragraph {
    line-height: 1.5;
    margin-bottom: 10px;
    color: var(--color-blue-grey);
  }

  &__cta {
    font-size: 1rem;
    color: var(--color-hover-menu);
    text-decoration: none;
    border: 1px solid;
    border-radius: 8px;
    padding: 8px 10px;
    display: inline-block;
    transform: scale(1);
    transition: background-color 1s, transform 1s;

    &:hover {
      color: white;
      transform: scale(1.05);
      background-color: var(--color-hover-menu);
    }
  }

  &__picture {
    grid-column: 4/-1;
    grid-row: 1/-1;
    text-align: right;

    @include breakpoint-down(small) {
      grid-column: 1/-1;
      grid-row: 1/3;
    }

    &--left {
      grid-column: 1/4;
      width: 93%;

      @include breakpoint-down(small) {
        grid-column: 1/-1;
      }
    }
  }

  &__about {
    grid-column: 1/4;
    grid-row: 2/-2;
    transform: scale(0);
    animation: fadeInDownSmall 2s 1s forwards;

    @include breakpoint-down(small) {
      grid-column: 1/-1;
      grid-row: 3/-1;
      align-self: center;
    }

    &--left {
      grid-column: 4/-1;

      @include breakpoint-down(small) {
        grid-column: 1/-1;
        grid-row: 3/-1;
      }
    }
  }

  &__img {
    width: 97%;
    height: 100%;
    transform: translateX(100%) scale(0);
    animation: rotar 2s ease-out forwards, fadeBounce 4s 2s infinite;
  }
}

@keyframes rotar {
  to {
    transform: translateX(0) scale(1);
  }
}

@keyframes fadeInDownSmall {
  0% {
    transform: translate3d(0, -20px, 0);
    opacity: 0;
  }

  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes fadeBounce {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
