:root {
  --font: Inter, sans-serif;
  --font-destacada: 'Nunito', sans-serif;
  --color-font-secondary: #42494f;
  --color-font-gris: #606c7a;
  --color-dark: #002450;
  --color-dark-blue: #273f5b;
  --color-blue-grey: #4b5d73;
  --color-label: #495057;
  --color-hover-menu: #3b60e4;
  --color-blue: #0072ff;
  --color-blue2: #00c6ff;
  --padding-features: 28px 28px 30px;
  --grey-color: #f5f9ff;
}
